<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <a class="text-center visible-xs visible-sm" href="#page-top">
        <i class="fa fa-chevron-up fa-2x"></i><br/>
        TOP
    </a>


<!-- Footer -->
<footer class="text-center">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                     {{ site.footer.copyright }} <i class="fa fa-heart" aria-hidden="true"></i> 20{{ site.time | date: '%y' }}
                </div>
            </div>
        </div>
    </div>
</footer>



