    <!-- Hero -->
    <div class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-3">
                    <img class="img-responsive" src="img/hero-avatar.svg" alt="avatar" style="width:230px; margin:0 auto;">
                </div>
                <div class="col-lg-7 col-md-7 col-sm-8 text-center">

                    <div class="intro-text">
                        <h1 class="name">{{ site.description }}</h1>
                        <h2 class="skills">{{ site.skills }}</h2>

                        <div class="bounce"><a href="/works/" class="btn btn-2">See Works</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

