<!DOCTYPE html>
<html>
{% include head.html %}
{% include nav.html %}

<div class="container">
    <div class="row">
        <div class="col-md-12 pad-top">
            <h2>{% if page.title %}
                {{ page.title }}
                {% else %}
                {{ site.data.global.title }}
                {% endif %}</h2>

            <p class="lead">
                {% if page.lead-text %}
                {{ page.lead-text }}
                {% elsif post.lead-text %}
                {{ post.lead-text }}
                {% else %}
                {{ site.data.global.description }}
                {% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <div class="pad-btm">
                <a href="{{ page.preview-url }}"></a><img src="../../img/screens/work/{{ page.featured-image }}" class="img-responsive img-centered pad-btm" alt="{{ page.alt }}"></a>

                <p class="description">{{ page.description }}</p>
                <p>Created: {{ page.project-date }}</p>
            </div>
        </div>

    </div>
</div>

{% include footer.html %}
{% include js.html %}

<script type="text/javascript">
    $(document).ready(function() {
        $('[data-toggle="popover"]').popover();
    });
</script>
</body>
</html>