<!DOCTYPE html>
<html>
{% include head.html %}
{% include nav.html %}

<div class="container">
    <div class="row">
        <h2 class="text-center" style="margin:60px 40px;">WAYS TO WORK <span class="highlight">WITH ME</span></h2>
        <div class="col-md-4">
            <div class="track text-center">
                <span class="h7">1. I design/build from scratch?</span>
                <p class="sub-title">Starting at $1,500, <a id="bsPopover" data-toggle="popover" data-trigger="hover" data-trigger="focus" data-placement="bottom" data-content="2 round of edits free, beyond that will be charged hourly rate. Turnaround takes about a week, depending on specs. Usually 1-4hrs design, 1-4hrs coding, 1-4hrs testing.">
                    Details <i class="fa fa-question" aria-hidden="true"></i>
                </a></p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="track text-center">
            <span class="h7">2. Have your own design?</span>
                <p class="sub-title">Starting at $1,000 per template</p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="track text-center">
            <span class="h7">3. Day to day email production.</span>
                <p class="sub-title"></p>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <br/><a href="/#form" class="btn btn-2">Contact</a>
    </div>
</div>



{% include js.html %}

<script type="text/javascript">
    $(document).ready(function() {
        $('[data-toggle="popover"]').popover();
    });
</script>
</body>
</html>